{
  "singleQuote": true,
  "semi": true,
  "printWidth": 150,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/style.css",
  "endOfLine": "lf",
  "singleAttributePerLine": false
}
